.diagnosis {
    max-width: 600px;
}
.report-view{
    overflow-y: scroll;
    height: fit-content;
    max-height: 88vh;
}
.report-view .controls-container{
    width: 43%;
}
.tests-container{
    min-height: 57vh;
    height: 100%;
}
.prescriptions-container{
    min-height: 44.5vh;
}