.icon{
    width: 25px !important;
    /* display: inline !important; */
}
.active{
    border-left: 8px solid #0EB29A !important;
}
.full-nav{
    /* height: 92.5vh; */
    min-width: 250px !important;
}
.mid-nav{
    min-width: none;
    width: 86px !important;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.45) 15px -0px 20px -20px;
}